.row-content {
	width: 50rem;
}
.dropdown-btn {
	border: none;
	background: none;
}
.system-font-stack {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.social-button {
	background: none;
	border: none
}
.title {
	font-size: 180%;
	font-weight: 400;
}
.heading {
	font-size: 140%;
}
.sub-heading {
	font-size: 90%;
	color: #707B7C;
	font-weight: 500;
}
.row-key {
	font-size: 80%;
	color: #AAB7B8;
}
.row-value {
	font-size: 100%;
	font-weight: 500;
}
.imageLabel {
	position: relative;
	width: 4rem;
	height: 4rem;
	cursor: pointer;
}
.imageDisplay {
	position: absolute;
}
.cameraIcon {
	position: absolute;
	left: 1.5rem;
	top: 1.25rem;
	color: white;
	opacity: 0;
}
.cameraIcon:hover {
	opacity: 1;
}
.changePhoto {
	font-size: 80%;
	color: #707B7C;
	font-weight: 500;
}
.labelKey {
	font-size: 80%;
	font-weight: 500;
}
.labelValue {
	border: 0.125rem solid #AAB7B8;
	padding: 0.5rem 1rem;
	font-size: 90%;
}
.labelValue::placeholder {
	font-size: 80%;
}
*:focus {
 outline: 0 !important;
}